.section1-navbar1 {
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(244, 121, 121);
    align-items: center;
    padding-left: 25%;
}

.section2-navbar2 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}